<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.modules.ses.">
    <!--xml这个没用-->
    <insert id="insertData">
        insert into ses_product_cat (product_id, cat_id)
        values
        <foreach collection="cats" item="item" open="(" separator="),(" close=")">
            #{productId}, #{item.id}
        </foreach>
    </insert>

    <delete id="deleteByProductId">
        delete from ses_product_cat
        where product_id = #{productId}
    </delete>

    <delete id="deleteByProductIds">
        delete from ses_product_cat
        where product_id in
        <foreach collection="productIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
